<div *ngIf="isDiv" (click)="selectItem()">
  <img
    class="rounded-circle"
    [ngStyle]="{
      width: size + 'px',
      heigth: size + 'px'
    }"
    src="assets/images/{{ cv.path | defaultImage }}"
    alt="{{ cv.name }}"
  />
  {{ cv.firstname | titlecase }} {{ cv.name | uppercase }}
</div>

<span *ngIf="!isDiv" (click)="selectItem()">
  <img
    class="rounded-circle"
    [ngStyle]="{
      width: size + 'px',
      heigth: size + 'px'
    }"
    src="assets/images/{{ cv.path | defaultImage }}"
    alt="{{ cv.name }}"
  />
  {{ cv.firstname | titlecase }} {{ cv.name | uppercase }}
</span>
