<form #loginForm="ngForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input
      #emailInput="ngModel"
      type="text"
      ngModel
      name="email"
      required
      email
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter email"
    />
    <div
      *ngIf="emailInput.invalid && emailInput.touched"
      class="alert alert-danger"
    >
      Veuillez saisir un email correct. L'email est obligatoire.
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input
      #passwordInput="ngModel"
      type="password"
      ngModel
      name="password"
      required
      minlength="4"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Password"
    />
    <div
      *ngIf="passwordInput.invalid && passwordInput.touched"
      class="alert alert-danger"
    >
      Le mot de passe est obligatoire et il doit avoir une taille minimale de 4
      caractères.
    </div>
  </div>
  <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">
    Submit
  </button>
</form>
